# Dictionary
- how to declare it
- how to access key and value of a dictionary
- how to use loops in dictionary

In [2]:
student = {
    "name" : "John",
    "class" : "12th",
    "roll no" : 12,
    "age" : 17
}
print(student)

{'name': 'John', 'class': '12th', 'roll no': 12, 'age': 17}

In [3]:
temp = {
    "lucknow" : [25,30,35],
    "delhi" : [30,35,40],
    "chennai" : [24,23,22]
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'chennai': [24, 23, 22]}

In [5]:
info = dict(name='Riya' , age=27 , dept= 'HR', salary = 30000)
print(info)

{'name': 'Riya', 'age': 27, 'dept': 'HR', 'salary': 30000}

In [3]:
info2 = dict(name=input("enter the name") , age = int(input("enter the age")) , dept= input("enter the department") , salary = int(input("enter the salary")))

print(info2)

{'name': 'sandeep', 'age': 25, 'dept': 'hr', 'salary': 30000}

In [18]:
print(info2['name'])
print(info2['age'])
print(info2['dept'])

sandeep
25
hr

In [19]:
print(info2.get('name'))
print(info2.get('age'))
print(info2.get('salary'))

sandeep
25
30000

In [30]:
#add items to a dictionary
info2['School'] = 'DPS'
info2['city'] = 'Lucknow'
print(info2)

{'name': 'sandeep', 'age': 25, 'dept': 'hr', 'salary': 30000, 'school': 'DPS', 'city': 'Lucknow', 'School': 'DPS', 'City': 'Lucknow'}

In [20]:
for x in info2:
    print(x)

name
age
dept
salary
school
city
School
City

In [29]:
for i, v in info2.items():
    print(f'{i} : {v}')

name : sandeep
age : 25
dept : hr
salary : 30000
school : DPS
city : Lucknow
School : DPS
City : Lucknow

In [32]:
print(info2.keys())
print(info2.values())
print(info2.items())

dict_keys(['name', 'age', 'dept', 'salary', 'school', 'city', 'School', 'City'])
dict_values(['sandeep', 25, 'hr', 30000, 'DPS', 'Lucknow', 'DPS', 'Lucknow'])
dict_items([('name', 'sandeep'), ('age', 25), ('dept', 'hr'), ('salary', 30000), ('school', 'DPS'), ('city', 'Lucknow'), ('School', 'DPS'), ('City', 'Lucknow')])

In [34]:
#nested dictionary
company = {
         'emp001' : {

        'name' : 'John',
        'age' : '27',
        'dept' : 'HR',
        'salary' : 30000

        },
        'emp002' : {
        'name' : 'Riya',
        'age' : 25,
        'dept' : 'IT',
        'salary' : 40000
        },

        'emp003' : {
         'name' : 'Mike',
         'age' : 30,
         'dept' : 'Finance',
        'salary' : 35000
        }
}
print(company)

{'emp001': {'name': 'John', 'age': '27', 'dept': 'HR', 'salary': 30000}, 'emp002': {'name': 'Riya', 'age': 25, 'dept': 'IT', 'salary': 40000}, 'emp003': {'name': 'Mike', 'age': 30, 'dept': 'Finance', 'salary': 35000}}

In [36]:
from pprint import pp

In [41]:
pp(company)

{'emp001': {'name': 'John', 'age': '27', 'dept': 'HR', 'salary': 30000},
 'emp002': {'name': 'Riya', 'age': 25, 'dept': 'IT', 'salary': 40000},
 'emp003': {'name': 'Mike', 'age': 30, 'dept': 'Finance', 'salary': 35000}}

In [46]:
#value acces from nested dictionary
print(company['emp001'])
print(company['emp001']['dept'])
print(company['emp002'])
print(company['emp002']['salary'])
print(company['emp003'])

{'name': 'John', 'age': '27', 'dept': 'HR', 'salary': 30000}
HR
{'name': 'Riya', 'age': 25, 'dept': 'IT', 'salary': 40000}
40000
{'name': 'Mike', 'age': 30, 'dept': 'Finance', 'salary': 35000}

In [51]:
#add items in dictionary
company['emp004'] = {
    'name' : 'John',
    'age' : 27,
    'dept' : 'HR',
    'salary' : 30000
}
pp(company)

{'emp001': {'name': 'Sam', 'age': 35, 'dept': 'Admin', 'salary': 25000},
 'emp002': {'name': 'Riya', 'age': 25, 'dept': 'IT', 'salary': 40000},
 'emp003': {'name': 'Mike', 'age': 30, 'dept': 'Finance', 'salary': 35000},
 'emp004': {'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 30000}}

In [50]:
print(company)

{'emp001': {'name': 'Sam', 'age': 35, 'dept': 'Admin', 'salary': 25000}, 'emp002': {'name': 'Riya', 'age': 25, 'dept': 'IT', 'salary': 40000}, 'emp003': {'name': 'Mike', 'age': 30, 'dept': 'Finance', 'salary': 35000}, 'emp004': {'name': 'Sam', 'age': 35, 'dept': 'Admin', 'salary': 25000}}

In [55]:
temp1 = {
    "lucknow" : [25,30,35],
    "delhi" : [30,35,40],
    "chennai" : [24,23,22]
}
print(temp1)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'chennai': [24, 23, 22]}

In [57]:
print(temp1['lucknow'][1])
print(temp1['delhi'][2])

30
40

In [70]:
print('Average temperature in Delhi :', sum(temp1['delhi'])/len(temp1['delhi']) )

Average temperature in Delhi : 35.0

Alex
-> English 85
-> Maths 80
-> Science 78
-> Total Marks : 243
Rahul
-> English
-> Maths
-> Science
-> Total Marks : 255

In [71]:
report = {
    'Alex' : {
        'English' : 85,
        'Maths' : 80,
        'Science' : 78
    },
    'Rahul' : {
        'English' : 80,
        'Maths' : 85,
        'Science' : 90
    },
}
pp(report)

{'Alex': {'English': 85, 'Maths': 80, 'Science': 78},
 'Rahul': {'English': 80, 'Maths': 85, 'Science': 90}}

In [72]:
for student, marks in report.items():
    print(student)
    for subject, mark in marks.items():
        print('->', subject, mark)
    print('-> Total Marks :', sum(marks.values()))

Alex
-> English 85
-> Maths 80
-> Science 78
-> Total Marks : 243
Rahul
-> English 80
-> Maths 85
-> Science 90
-> Total Marks : 255