In [17]:
marks = [90,85,56,86,89]
print(marks[4])
marks[1]= '100'
print(marks)
print(marks[1:3])

[90, 85, 56, 86, 89]
89
[90, '100', 56, 86, 89]
['100', 56]
[]

In [22]:
marks = [23,45,65,76,86]
print(marks[1:3])

[45, 65]

In [24]:
#list methods
list = [1,4,6]
list.append(5)   #list.append= add new item or value
print(list)

[1, 4, 6, 5]

In [30]:
list = [2,1,5,6]
list.sort()   #list.sort = arange in ascendding order
print(list)

[1, 2, 5, 6]

In [31]:
list = [2,6,1,3]
list.reverse()     #list.reverse= reverse the list
print(list)

[3, 1, 6, 2]

In [34]:
list = ['banana','lichi','apple']
print(list.reverse())
print(list)

None
['apple', 'lichi', 'banana']

In [36]:
list = [12,25,45]
list.insert(1,20)   #list.insert= add value at a particular index
print(list)

[12, 20, 25, 45]

In [38]:
list = [23,76,96,46]  #list.remove= delete a particular item or number
list.remove(23)
print(list)

[76, 96, 46]

In [39]:
list = [43,85,95,467]  #;ist.pop= remove value according to index value
list.pop(2)
print(list)

[43, 85, 467]

# Tuples in python

In [42]:
tuple = (23,56,87,99)
print(tuple[0])
print(tuple[3])

23
99

In [43]:
print(tuple[1:3])

(56, 87)

In [51]:
tup = (1,4,7,4,9)
print(tup.index(1))

0

In [48]:
print(tup.count(4))

2

In [56]:
#wap to ask the user to enter names of their 3 favourite movies and store them in a list.
a = input("enter first movie")
b = input("enter second movie")
c = input("enter third movie")
print([a,b,c])

['sholey', 'diljale', 'king']

In [68]:
#wap to count the number of students with the"A" grade in the following tuple.
tup = ["C","D","A","A","B","B","A"]
print(tup.count("A"))
print(tup.sort())
print(tup)

3
None
['A', 'A', 'A', 'B', 'B', 'C', 'D']