# While loop

In [1]:
count = 0
while count <=4:
    print("hello", count)
    count += 1

hello 0
hello 1
hello 2
hello 3
hello 4

In [10]:
i = 1
while i <6:
    print("Sandeep", i)
    i += 1

Sandeep 1
Sandeep 2
Sandeep 3
Sandeep 4
Sandeep 5

In [13]:
i = 1      #print no from 1 to 5
while i <=5:
    print(i)
    i += 1
print("loop ended")

1
2
3
4
5
loop ended

In [20]:
i = 5        #print no from 5 to 1
while i >= 1:
    print(i)
    i -= 1

print("loop ended")

5
4
3
2
1
loop ended

In [21]:
#print numbers from 1 to 100.
i = 1
while i <=100:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [22]:
#print numbers from 100 to 1.
i = 100
while i >=1:
    print(i)
    i -= 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [26]:
#print the the multiplication table of a number n.
i = 1
while i <=10:   # n = 5
    print(5*i)
    i += 1

5
10
15
20
25
30
35
40
45
50

In [32]:
n = int(input("enter number : "))
i = 1
while i <= 10:
    print(n*i)
    i += 1

10
20
30
40
50
60
70
80
90
100

In [45]:
#print the elements of the following list using a loop.
nums = [1,4,9,16,25,36,49,64,81,100]
idx = 0
while idx < len(nums):
    print(nums[idx])
    idx += 1

1
4
9
16
25
36
49
64
81
100

In [50]:
#search for a number x in this tuple using loop.
nums = (1,4,9,16,25,36,49,64,81,100)
x = 36

i = 0
while i < len(nums):
    if(nums[i] == x):
        print("found at idx", i)
    i += 1

found at idx 5

In [54]:
#break and continue keyword

i = 1
while i <= 5:
    print(i)
    if (i == 3):
        break
    i += 1
print("end of loop")

1
2
3
end of loop

In [59]:
nums = (1,4,9,16,25,36,49,64,81,100)
x = 36

i = 0
while i < len(nums):
    if(nums[i] == x):
        print("found at ind", i)
        break
    else:
        print("finding..")
    i += 1
print("end loop")

finding..
finding..
finding..
finding..
finding..
found at ind 5
end loop

In [63]:
i = 0
while i <= 5:
    if (i == 3):
        i += 1
        
        continue  #skip that number
    print(i)
    i += 1

0
1
2
4
5

In [66]:
#print odd nu from 1 to 10
i = 1
while i <= 10:
    if(i%2 == 0):
        i += 1
        continue
    print(i)
    i += 1

1
3
5
7
9

In [67]:
#print even no from 1 to 50
i = 1
while i <= 50:
    if(i%2 != 0):
        i += 1
        continue
    print(i)
    i += 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

# for loop

In [70]:
list = [1,2,3,4,5]
print(list[2])

3

In [71]:
veggies = ["potatoo","brinjal","ladyfinger","cucumber"]
for val in veggies:
    print(val)

potatoo
brinjal
ladyfinger
cucumber

In [72]:
tup = [1,2,3,4,2,8,9]

for num in tup:
    print(num)

1
2
3
4
2
8
9

In [74]:
str = "apnacollege"

for char in str:
    print(char)
else:
    print("end")

a
p
n
a
c
o
l
l
e
g
e
end

In [75]:
#print the elements of the following list using a loop.
list = [1,4,9,16,25,36,49,64,81,100]
for nums in list:
    print(nums)

1
4
9
16
25
36
49
64
81
100

In [78]:
#search for a number x in this tuple using loop.
tup = (1,4,9,16,25,36,49,64,81,100,49)
x = 49
idx = 0
for el in tup:
    if(el == x):
        print("number founded at idx", idx)
        break
    idx += 1

number founded at idx 6

In [80]:
#range function         range= ('starting value', 'stoping value', step value)
seq = range(10)         # <----range=(0,10,1)
for i in seq:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [85]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [86]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [87]:
#print even no from 1 to 100
for i in range(2,100,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [92]:
#print numbers from 1 to 1oo from range
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [94]:
#Print numbers from 100 to 1
for i in range(100,0, -1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [96]:
#print the multiplication table of a number n.
n = int(input("enter the number: " ))
for i in range(1,11):
    print(f'{n} * {i} = {n * i}')

20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200

In [97]:
n = 15
for i in range(1,11):
    print( n * i)

15
30
45
60
75
90
105
120
135
150

In [1]:
a = [1,3,2,5,7,3,7,4]
for i in a:
    if (i == 7):
        break
    print(i)

1
3
2
5

In [2]:
a = [10,20,30,40,50,60,70]
for i in a:
    if (i==60):
        break
    print(i)

10
20
30
40
50

In [4]:
for i in a:
    if (i == 60):
        continue    
    print(i)

10
20
30
40
50
70

In [6]:
str = ["Apple","banana","grapes","orange","mango","kiwi"]
for i in str:
    if (i == "orange"):
        break
    print(i)

Apple
banana
grapes

In [13]:

for i in str:
    if (i == "mango"):
        continue
    print(i)

Apple
banana
grapes
orange
kiwi

In [18]:
for i, v in enumerate(str):
    print(f'{i} . {v}')

0 . Apple
1 . banana
2 . grapes
3 . orange
4 . mango
5 . kiwi

In [23]:
list = ['python','javascript','django','pycharm','html',]
for i , v in enumerate(list):
    if i == 3:
        break
    
    print(f'{i} . {v}')

0 . python
1 . javascript
2 . django

In [31]:
#wap to find the sum of first n numbers using while loop.
n = 7
sum = 0
i = 1
while i <= n:
    sum += i
    i += 1

print("total sum =", sum)

total sum = 28