# for loop

In [8]:
fruits = ['apple','mango','banana','orange','kiwi','grapes','papaya']
for x in fruits:
    print(x)

apple
mango
banana
orange
kiwi
grapes
papaya

In [36]:
a = "Hello World"     
for x in a:
    print(x)

H
e
l
l
o

W
o
r
l
d

In [4]:
a = "Hello World"         # (emoji- window+.)
for x in a:
    print(x, end=" ðŸ˜‚ ")

H ðŸ˜‚ e ðŸ˜‚ l ðŸ˜‚ l ðŸ˜‚ o ðŸ˜‚   ðŸ˜‚ W ðŸ˜‚ o ðŸ˜‚ r ðŸ˜‚ l ðŸ˜‚ d ðŸ˜‚

In [5]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
for i in range(1,6):
    print("sandeep")

sandeep
sandeep
sandeep
sandeep
sandeep

In [7]:
for i in range(1,21,3):
    print(i)

1
4
7
10
13
16
19

In [8]:
for i in range(1,25,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23

In [9]:
for i in range(0,30,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [38]:
for i in range(31):      # != not equal
    if i%2 != 0:
       print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

# While loop

In [5]:
i = 1
while i <= 20:
    print(i)
    i+= 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [12]:
i = 0      #even no
while i <= 30:
    print(i)
    i+= 2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [13]:
i = 0

while i <= 5:
    
    print("i can do it ðŸ˜Š")

    i+= 1

i can do it ðŸ˜Š
i can do it ðŸ˜Š
i can do it ðŸ˜Š
i can do it ðŸ˜Š
i can do it ðŸ˜Š
i can do it ðŸ˜Š

In [14]:
i = 15               #table of 15
while i <=150:
    print(i)
    i+= 15

15
30
45
60
75
90
105
120
135
150

In [15]:
a = 15          #table pf 15
for i in range(1,11):
    print(f'{a} * {i} = {a*i}')

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [19]:
count = 1
while count <=5:
    print("sandeep yadav", count)
    count += 1

sandeep yadav 1
sandeep yadav 2
sandeep yadav 3
sandeep yadav 4
sandeep yadav 5

In [27]:
#table of 20
x = 20
for y in range(1,11):
    print(f'{x} * {y} = {x * y}')

20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200

In [30]:
l = 50
b = 20
print(('Area of Square' "=" ,f'{l} * {b} = {l*b}'))

('Area of Square=', '50 * 20 = 1000')

In [5]:
i = 1
for i in range(1,50,3):
    print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49

In [6]:
x = 5
for y in range(1,11):
    print(f'{x} * {y} = {x * y}')

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [10]:
i = 5
while i<=50:
    print(i)
    i += 5

5
10
15
20
25
30
35
40
45
50

In [1]:
count = 1
for count in range(10):
   print("Hello World â¤", count)
   count += 1

Hello World â¤ 0
Hello World â¤ 1
Hello World â¤ 2
Hello World â¤ 3
Hello World â¤ 4
Hello World â¤ 5
Hello World â¤ 6
Hello World â¤ 7
Hello World â¤ 8
Hello World â¤ 9

#Break  and #continue

In [11]:
a = [2,4,6,8,10,12,14,16,17,18,20]
for i in a :
    if i == 17:
        break
    print(i)

2
4
6
8
10
12
14
16

In [12]:
a = [2,4,6,8,10,12,14,16,17,18,20]
for i in a :
    if i == 17:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20

In [36]:
name = "Sandeep"
for i in name:
    if i =="d":
        break
    print(i , end="")

San

In [21]:
name = "Sandeep"
for i in name:
    if i =="d":
        continue
    print(i)

S
a
n
e
e
p

In [31]:
a = [10,30,65,29]
total = 0
for i in a:
    total += i
print(total)

134

In [33]:
names = ['Areeba','Atif','Ali','Ayesha','Adeel']
for i in names:
    print(i)

Areeba
Atif
Ali
Ayesha
Adeel

In [34]:
for i,v in enumerate(names):           #v = values or numbering
    print(f'{i}. {v}')

0. Areeba
1. Atif
2. Ali
3. Ayesha
4. Adeel

In [37]:
items = ['pen','pencil','eraser','sharpener','scale','book','bag','bottle','lunchbox','tiffin']
for i, v in enumerate(items):
    if i == 8:
        break
    print(f'{i}. {v}')

0. pen
1. pencil
2. eraser
3. sharpener
4. scale
5. book
6. bag
7. bottle