# Set
- create
- methods
- set operation
 - intersection
 - union
 - difference
 -symmetric difference
 -issubset
 -issuperset

In [1]:
 
x = [2,5,4,2,5,7,6,7,3]
print(x)

[2, 5, 4, 2, 5, 7, 6, 7, 3]

In [2]:
x = set()
print(x)

set()

In [3]:
y = {1,2,3,4,5}
z = {1,2,3,4,5,6,5,4,4,5,6,7,5,6,5}  #duplicate values are not count and print
print(y)
print(z)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

In [4]:
a = set("hello")
print(a)

{'o', 'h', 'e', 'l'}

In [5]:
b = set([1,4,2,4,5,3,6,7,3])
print(b)
print(type(b))

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

In [6]:
c = set(range(11))       #print no. from 1 to 10
print(c)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [7]:
#sets methods   #add data in a set using (set.add) method
data = set()
data.add(12)
data.add(17)
data.add(2)
data.add(9)
data.add(3)
print(data)

{2, 3, 9, 12, 17}

In [8]:
#remove data from set
#1st method    (set.pop) - removes the first element from list
data.pop()

2

In [9]:
print(data)

{3, 9, 12, 17}

In [10]:
#2nd method
data.discard(9)

In [11]:
print(data)

{3, 12, 17}

In [12]:
data.clear()
print(data)        #clear all data in a set  (set.clear)

set()

In [13]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {7,8,9,10}
d = {4,5,6}
print(a)
print(b)
print(c)
print(d)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10, 7}
{4, 5, 6}

In [14]:
print(a.union(b))     # (|) - use as union operator
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [15]:
print(a.intersection(b))     # (&) - use as intersection operator
print(a & b)

{4, 5}
{4, 5}

In [16]:
print(a.difference(b))  #difference  (a-b) and (b-a) or (set.difference)
print(a - b)
print(b - a)

{1, 2, 3}
{1, 2, 3}
{8, 6, 7}

In [17]:
print(d.issuperset(b))

False

In [18]:
print(a.issubset(b))

False